
@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Squada One', cursive;
}
.header{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container p{
    color: orange;
    font-weight: 600;
    font-size: 21px;
}
.container p span{
    color: black;
}
.container img{
    margin: 5px 5px;
    height: 36px;
    width: 16px;
}
.navbar ul{
    padding-top: 20px;
}
.navbar{
    position: absolute;
    background-color: orange;
    height: 50vh;
    width: 100%; 
    top: -500px;
    right:0;
    text-align: center;
    z-index: 2;
    border-radius: 12px;
    transition: 1s; 
}
.navbar img{
    margin: 5px 5px;
    height: 36px;
    width: 16px;
    position: absolute;
    top: 10px;
    left: 25px;
}
.navbar ul li{
    margin-top: 41px;
    margin-left: 10px;
    list-style: none;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}
.navbar ul li a:hover {
    color: white;
}

/* ....................page 1.................................................... */

.container2{
    width: 80%;
    height: 90vh;
    background-color: rgba(202, 200, 197, 0.219);
    margin: auto;
    text-align: center;
    
}
.pic img{
    height: 146px;
    width: 147px;
    margin: 56px 10px 18px 10px;
    border-radius: 20%;
    border: solid black 2px;
}
.name{
    margin-top: 40px;
    display: inline-block;
}
.name h5{
    color: orange;
    font-size: 13px;
    font-family: 'ZCOOL KuaiLe', cursive;
    
}
.name h5 span{
    color: black;
}
.name h1{
    color: transparent;
    margin-top: 2px;
    font-size: 40px;
    animation: animi 2s ease-in-out 0.5s  forwards;
}
.name h3{
    font-size: 10px;
    font-weight: 600;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-top: 10px;
    
}
.name button{
    background-color: orange;
    margin-top: 13px;
    border: none;
    padding: 3px;
    border-radius: 4px;
    FONT-SIZE: 10px;
    cursor: pointer;
}
.name button:hover {
    background-color: black;
    color: orange;
}
.social{
    display: flex;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
}
.social img{
    margin:10px 10px;
    width: 55px;
    height: 28px; 
}
@keyframes animi{
    0%{
     color: orange;
     font-size: 2px;
    }
    
    100%{
        color: black;
    }
}
/* ..................page 2.............................. */

.container3{
    width: 80%;
    height: 70vh;
    margin: auto;
    text-align: center;
    font-size: 10px;
    
}
.about{
    margin-top: 0px;
    display: inline-block;
}
.about h5{
    color: orange;
    margin-top: 25px;
    font-size: 13px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.about h2{
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 32px;
}
.about p{
    font-family: 'Mate SC', serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: 5px;
}
.about1{
    margin-top: 20px;
    border-bottom: solid black 1px;
    padding-bottom: 15px;
    
}
.about1 img{
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-left: 21px;
}
.about1 h4{
    margin-top: 10px;
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 13px;
}
.about1 h4 span{ 
    font-weight: 100;
    margin-left: 10px;
    text-transform: lowercase;
    color: orange;
    font-size: 13px;
}
.about2{
    margin-top: 13px;

}
.about2 h3{
    font-family: 'Mate SC', serif;
    font-size: 15px;
    font-family: 'Mate SC', serif;
    
    margin-bottom: 10px;
}
.pi{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    font-size: 13px;
    padding: 0 26px;
    color:black;
}
.pi p{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 12px;
}

.pi p img{
    height: 22px;
    width: 34px;
}
/*  ............................................................................................... */
.container4{
    width: 80%;
    height: 54vh;
    margin: auto;
    text-align: center;
    font-size: 10px;
    background-color: rgba(182, 182, 252, 0.137);
}
.area{
    display: inline-block;
}
.area h5{
    color: orange;
    margin-top: 25px;
    font-size: 13px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.area h2{
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 32px;
}
.skills{
    
    text-align:left;
    justify-content: space-between;
}
.mech h4{
    font-size: 14px;
    font-family: 'Mate SC', serif;
    text-align: center;
}
.mech li{
    margin-top: 10px;
    font-size: 10px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    list-style: circle;
}
.mech li span{
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
}
.mech li progress{
    margin-left: 5px;
    -webkit-appreance:none; 
    border: solid black 1px; 
     border-radius: 10px;
     height: 6px;
     width: 75px;
     
}
::-webkit-progress-bar{
    background-color: white;
}
::-webkit-progress-value{
    background-color: orange;
}
.it{
    margin-top: 38px;
}
.it li{
    margin-top: 10px;
    font-size: 10px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    list-style: circle;
}
.it h4{
    font-size: 14px;
    font-family: 'Mate SC', serif;
    text-align: center;
}
.it li span{
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
}
.it li progress{
    margin-left: 5px;
    -webkit-appreance:none; 
    border: solid black 1px; 
     border-radius: 10px;
     height: 6px;
     width: 75px;
}
/* ....................................................................................................................... */
.container5{
    width: 80%;
    height: 70vh;
    margin: auto;
    text-align: center;
    font-size: 10px;
    border-bottom: solid 1px grey;
}
.area1{
    display: inline-block;
}
.area1 h5{
    color: orange;
    margin-top: 70px;
    font-size: 13px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.area1 h2{
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 32px;
}
.education, .experience{
    margin: 20px 0;
}
.education h4, .experience h4{
    font-size: 18px;
    font-family: 'Mate SC', serif;
}
.education h4 img, .experience h4 img{
    height: 17px;
    width: 26px;
}
.education li, .experience li{
    list-style: none;
    margin-top: 10px;
    font-size: 13px;
    color: orange;
}
.education p, .experience p{
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-top: 3px;
}
/* ................................................................................................ */
.container6{
    width: 80%;
    height: 80vh;
    margin: auto;
    font-size: 10px;
    text-align: center;
    border-bottom: solid grey 1px;
}
.area2{
    display: inline-block;
}
.area2 h5{
    color: orange;
    margin-top: 25px;
    font-size: 13px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.area2 h2{
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 32px;
    font-family: 'Squada One', cursive;
}
.years button{
    margin: 10px;
     background-color: orange; 
    color: black; 
    border: none;
    width: 80px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
}
#btn1{
    background-color: black;
    color: orange;
}
 .years button:hover{ 
    background-color: black;
    color: orange;
}
.sliderbox{
    width: 90%;
    height: 41vh;
    margin: 30px auto;
    position: relative;
    display: flex;
    overflow: hidden;
}
#slider{
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
}
#slider img{
    width: 100%;
}
/* ................................................................................................................. */
.contact{
    margin-top: 64px;
}
.container7{
    width: 80%;
    height: 30vh;
    margin: auto;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 167, 4, 0.815);
}
.sol{
    display: inline-block;
}
.sol h5{
    color: black;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 25px;
}
.sol p{
    font-family: 'Mate SC', serif;
    font-weight: 600;
}
.cb a{
    position: relative;
    top: 27px;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.cb a:hover{
    background-color: black;
    color: white;
}
/* ................................................... */
.container8{
    width: 100%;
    height: 9vh;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: orange;
    background-color: black;
    border-top: solid orange 3px;
}
.container8 p{
     /* font-family: 'ZCOOL KuaiLe', cursive;  */
     font-family: 'Mate SC', serif;
    text-align: center;
    display: inline-block;
    margin-top: 3px;
    font-weight: 100;

   
}
.container8 p span img{
    height: 12px;
    width: 14px;
}
